<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Reservation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LinkServelet</display-name>
    <servlet-name>LinkServelet</servlet-name>
    <servlet-class>com.gestionreservation.controllers.LinkServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkServelet</servlet-name>
    <url-pattern>/LinkServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionServelet</display-name>
    <servlet-name>ConnexionServelet</servlet-name>
    <servlet-class>com.gestionreservation.controllers.ConnexionServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServelet</servlet-name>
    <url-pattern>/ConnexionServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reserver</display-name>
    <servlet-name>Reserver</servlet-name>
    <servlet-class>com.gestionreservation.controllers.Reserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserver</servlet-name>
    <url-pattern>/Reserver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierServelet</display-name>
    <servlet-name>ModifierServelet</servlet-name>
    <servlet-class>com.gestionreservation.controllers.ModifierServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierServelet</servlet-name>
    <url-pattern>/ModifierServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnulerServelet</display-name>
    <servlet-name>AnnulerServelet</servlet-name>
    <servlet-class>com.gestionreservation.controllers.AnnulerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnulerServelet</servlet-name>
    <url-pattern>/AnnulerServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionReussieServelet</display-name>
    <servlet-name>InscriptionReussieServelet</servlet-name>
    <servlet-class>com.gestionreservation.controllers.InscriptionReussieServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionReussieServelet</servlet-name>
    <url-pattern>/InscriptionReussieServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EspaceUtilisateurServelet</display-name>
    <servlet-name>EspaceUtilisateurServelet</servlet-name>
    <servlet-class>com.gestionreservation.controllers.EspaceUtilisateurServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceUtilisateurServelet</servlet-name>
    <url-pattern>/EspaceUtilisateurServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErreurReservationServelet</display-name>
    <servlet-name>ErreurReservationServelet</servlet-name>
    <servlet-class>com.gestionreservation.controllers.ErreurReservationServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErreurReservationServelet</servlet-name>
    <url-pattern>/ErreurReservationServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmerServelet</display-name>
    <servlet-name>ConfirmerServelet</servlet-name>
    <servlet-class>com.gestionreservation.controllers.ConfirmerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmerServelet</servlet-name>
    <url-pattern>/ConfirmerServelet</url-pattern>
  </servlet-mapping>
</web-app>